.Button {
    background-color: rgb(115, 205, 205);
    border-top-width: 5px;
    border-right-width: 5px;
    border-bottom-width: 5px;
    border-left-width: 5px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
    height: 69px;
    width: 190px;
    font-size: 21px;
    border-left-color: rgb(191, 154, 183);
    border-right-color: rgb(191, 154, 183);
    border-top-color: rgb(191, 154, 183);
    border-bottom-color: rgb(191, 154, 183);
    margin-top: 14px;
    margin-right: 14px;
    margin-bottom: 14px;
    margin-left: 14px;
    transition-duration: 0.2s;
}

.Button:hover {
    background-color: rgb(166, 133, 158);
    border-top-width: 0;
    border-right-width: 0;
    border-bottom-width: 0;
    border-left-width: 0;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
    height: 69px;
    width: 190px;
    font-size: 23px;
    color: rgb(115, 205, 205);
    -unity-font-style: normal;
    rotate: 1deg;
    scale: 1.1 1.1;
    transition-duration: 0.5s;
}

.Button:active {
    background-color: rgb(178, 108, 161);
    border-top-width: 5px;
    border-right-width: 5px;
    border-bottom-width: 5px;
    border-left-width: 5px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
    height: 69px;
    width: 190px;
    font-size: 21px;
    border-left-color: rgb(217, 175, 207);
    border-right-color: rgb(217, 175, 207);
    border-top-color: rgb(217, 175, 207);
    border-bottom-color: rgb(217, 175, 207);
    color: rgb(195, 120, 214);
}

.MainScreen {
    flex-grow: 1;
    background-image: url("project://database/Assets/Sprites/Tablet/Tablet.png?fileID=248998647&guid=8c1033004aee2684d99b085bdf868c5f&type=3#Tablet_BG");
    align-items: center;
    justify-content: center;
    display: flex;
    overflow: visible;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}
